GOOGLE_CLIENT_ID = str
GOOGLE_SECRET = str
GOOGLE_REDIRECT_URL = str

SECRET_KEY = str
ACCESS_TOKEN_EXPIRE_MINUTES = int
REFRESH_TOKEN_EXPIRE_DAYS = int
ALGORITHM = HS256

DATABASE_URL = str

REDIS_URL = str 

